.cart-popup {
    &__container{
    text-align: center;
    position:fixed;
    right: 20rem;
    top:36.5rem;
    transform: translate(50%,-50%);
    width: 25%;
    height: 65vh;
    background-color: rgba(#fff,1);
    z-index: 6;
    opacity: 1;
    transition: all 2s;
    overflow-y: scroll;
    border-radius: 10px;
    padding:2rem 0;
}
&__exit-button {
        width: 3rem;
        height: 3rem;
        position: sticky;
        top:0%;
        left:100%;
        transform: translate(-50%,-50%);
        background-color: darkgrey;
        color:whitesmoke;
        font-size: 1.5rem;
        border-radius: 100%;
        border:none;
        z-index: 7;
        transition: all .5s;
        &:hover {
            cursor: pointer;
            transform: scale(1.05) , translate(-50%,-50%);;
            color:white;
            background-color: black;
        }
        }
        &__empty-cart {
            font-size: 2rem;
        }
        &__total-sum {
            font-size: 1.8rem;
            margin-right:2rem;
            
        }
       
        &__edit-button-left-arrow {
            background-color: transparent;
            border: none;
            position: absolute;
            top:5%;
            left:5%;
            font-size: 4.5rem;
            color:black;
            transition: all .5s;
            &:hover , :link , :active {
                transform: scale(1.15);
                cursor: pointer;
        }
            }
        &__button-pay {
            position: relative;
            display: inline-block;
            text-decoration: none;
            vertical-align: middle;
            background-color: orange;
            width: 10rem;
            height: 5rem;
            font-size: 1.3rem;
            color:whitesmoke;
            border:none;
            border-radius: 10px;
            cursor: pointer;
            transition: all .2s;
            &-inner-text{
                position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
            }
            &:hover {
                transform: scale(1.1);
                box-shadow: 5px 5px 5px grey;
            }
            &-inner-text {
            &:hover,:link,:active{
                    position: absolute;
                top:50%;
                left:50%;
                transform: translate(-50%,-50%);
                }
            }
        }
}

.cart-item {
    font-family: 'Montserrat Alternates', sans-serif;
    position: relative;
    &__content {   
        text-align:center;
    }
    &__name {
        font-size: 1.6rem;
        color:black;
    }
    &__amount {
        color:black;
        font-size: 1.2rem;
    }
    &__total {
        color:black;
        font-size: 1.3rem;
    }
    &__image {
        margin-right:40px;
        width: 12rem;
        height: 12rem;
        object-fit: cover;
        position: absolute;
        top:30%;
        left:20%;
        transform: translate(-50%,-50%);
    }
    &__text {
        margin-left: 13rem;
    }
    &__button {
        width:3rem;
        height: 3rem;
        background-color: lightgrey;
        color:black;
        font-size: 2rem;
        border-radius: 10px;
        box-shadow: .1rem .1rem .15rem black;
        border: none;
        cursor: pointer;
        &:not(:last-child){
            margin-right: 1rem;
    }
    transition:  all .5s;
    &:hover{
        transform: scale(1.02) 
    }
    &:active{
        transform: translateY(1.5px);;
    }
}
hr {
    background-color: rgba(#d7bcb2, .9);
    color:rgba(#d7bcb2, .9);
} 
}

