.cart-popup {
    &__container{
        text-align: center;
        position:fixed;
        right: 17.5%;
        top:55%;
        transform: translate(50%,-50%);
        width: 27.5%;
        height: 65vh;
        background-color: rgba(#fff,1);
        z-index: 6;
        opacity: 1;
        transition: all 2s;
    overflow-y: scroll;
    border-radius: 10px;
    padding:2rem 0;
    @media (max-width:1300px) {
        top:60%;
        right: 20%;
        width: 40%;
        height: 60vh;
    }
    @media (max-width:1000px) {
        top:60%;
        right: 25%;
        width: 50%;
        height: 60vh;
    }
    @media (max-width:800px) {
        top:60%;
        right: 40%;
        width: 85%;
        height: 60vh;
    }
    @media (max-width:600px) {
        top:60%;
        right: 40%;
        width: 85%;
        height: 60vh;
    }
    @media (max-width:600px) {
        top:60%;
        right: 40%;
        width: 85%;
        height: 60vh;
    }

    
   
}
&__exit-button {
        width: 3rem;
        height: 3rem;
        position: sticky;
        top:0%;
        left:100%;
        transform: translate(-50%,-50%);
        background-color: darkgrey;
        color:whitesmoke;
        font-size: 1.5rem;
        border-radius: 100%;
        border:none;
        z-index: 7;
        transition: all .5s;
        @media (max-width:1300px) {
            width: 4rem;
            height: 4rem;
            font-size: 2rem;
            top:2.5%;
        }
        
        @media (min-width:1300px) {
            width: 4rem;
            height: 4rem;
            font-size: 2rem;
            top:2%;
        }
        @media (min-width:1750px) {
            width: 4.25rem;
            height: 4.25rem;
            font-size: 2rem;
            top:2%;
        }
        @media (min-width:2000px) {
            width: 4.5rem;
            height: 4.5rem;
            font-size: 2.2rem;
            top:2%;
        }
        @media (min-width:2400px) {
            width: 4.75rem;
            height: 4.75rem;
            font-size: 2.2rem;
            top:2%;
        }
        @media (min-width:2750px) {
            width: 5rem;
            height: 5rem;
            font-size: 2.25rem;
            }
        
        &:hover, :active , :link , :focus {
            cursor: pointer;
            transform: scale(1.05) , translate(-50%,-50%);;
            background-color: black;
            background-image: linear-gradient(to left ,  rgb(58, 15, 15),rgb(185, 59, 80));
            -webkit-background-clip: text;
            color: transparent;        }
        }
        &__empty-cart {
            font-family: 'Spartan', sans-serif;
            font-weight: 700;
            font-size: 3rem;
            @media (min-width:1750px) {
                font-size: 3.5rem;
            }
            @media (min-width:2000px) {
                font-size: 3.75rem;
            }
            @media (min-width:2400px) {
                font-size: 4rem;
            }
        }
        &__total-sum {
            font-family: 'Spartan', sans-serif;
            font-weight: 700;
            font-size: 1.8rem;
            margin-right:2rem;
            @media (max-width:1300px) {
                font-size: 2.5rem;
            }
            @media (min-width:1300px) {
             font-size: 2rem;
            }
            @media (min-width:1750px) {
             font-size: 2.3rem;
            }
            @media (min-width:2000px) {
             font-size: 2.5rem;
            }
            @media (min-width:2400px) {
             font-size: 2.75rem;
            }
            
        }
       
        &__edit-button-left-arrow {
            background-color: transparent;
            border: none;
            position: absolute;
            top:5%;
            left:5%;
            font-size: 4.5rem;
            color:black;
            cursor: pointer;
            transition: all .5s;
            @media (max-width:1300px) {
                font-size: 6rem;
            }
            @media (max-width:1000px) {
                font-size: 7rem;
            }
            @media (min-width:1300px) {
                font-size: 6rem;
            }
            @media (min-width:1750px) {
                font-size: 6rem;
            }
            @media (min-width:2000px) {
                font-size: 6rem;
            }
            &:hover , :link , :active , :focus {
                transform: scale(1.15);
                background-image: linear-gradient(to left ,  rgb(58, 15, 15),rgb(185, 59, 80));
    -webkit-background-clip: text;
    color: transparent;
        }
            }
        &__button-pay {
            font-family: 'Spartan', sans-serif;
            font-weight: 700;
            position: relative;
            display: block;
            text-decoration: none;
            background-color: orange;
            margin:2rem auto;
            width: 50%;
            height: 5rem;
            font-size: 1.3rem;
            color:whitesmoke;
            border:none;
            border-radius: 10px;
            cursor: pointer;
            transition: all .2s;
            &:hover , :active , :link {
                box-shadow: .5rem .5rem .75rem lightgray;
                transform: translateY(-2px);
            }
            @media (max-width:1300px) {
                width: 75%;
                height: 6rem;
                font-size: 2.5rem;
            }
            @media (max-width:1000px) {
                width: 75%;
                height: 7rem;
                font-size: 2.75rem;            }
            @media (min-width:1300px) {
            width: 60%;
            height: 6rem;
            font-size: 2rem;
            margin:3rem auto;
        }
            @media (min-width:1750px) {
            width: 65%;
            height: 6.5rem;
            font-size: 2.25rem;
            margin:3rem auto;
        }
            @media (min-width:2000px) {
            width: 70%;
            height: 7rem;
            font-size: 2.5rem;
            margin:3rem auto;
        }
            @media (min-width:2400px) {
            width: 75%;
            height: 8rem;
            font-size: 2.75rem;
            margin:3rem auto;
        }
        }
}

.cart-item {
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    position: relative;
    &__content {   
        text-align:center;
    }
    &__name {
        font-family: 'Spartan', sans-serif;
        font-weight: 700;
        font-size: 1.6rem;
        color:black;
        @media (max-width:1300px) {
            font-size: 2.5rem;
        }
        @media (max-width:1000px) {
            font-size: 2.25rem;
        }
        @media (min-width:1300px) {
            font-size: 2rem;
        }
        @media (min-width:1750px) {
            font-size: 2.25rem;
        }
        @media (min-width:2000px) {
            font-size: 2.5rem;
        }
        @media (min-width:2400px) {
            font-size: 2.75rem;
        }
    }
    &__amount {
        font-family: 'Spartan', sans-serif;
        font-weight: 700;
        color:black;
        font-size: 1.2rem;
        @media (max-width:1300px) {
            font-size: 2.25rem;
        }
        @media (max-width:1000px) {
            font-size: 2rem;
        }
        @media (min-width:1300px) {
            font-size: 1.8rem;
        }
        @media (min-width:1750px) {
            font-size: 2rem;
        }
        @media (min-width:2000px) {
            font-size: 2.25rem;
        }
        @media (min-width:2400px) {
            font-size: 2.5rem;
        }
    }
    &__total {
        font-family: 'Spartan', sans-serif;
        font-weight: 700;
        color:black;
        font-size: 1.3rem;
        @media (max-width:1300px) {
            font-size: 2.5rem;
        }
        @media (max-width:1000px) {
            font-size: 2.25rem;
        }
        @media (min-width:1300px) {
            font-size: 2rem;
        }
        @media (min-width:1750px) {
            font-size: 2.2rem;
        }
        @media (min-width:2000px) {
            font-size: 2.5rem;
        }
        @media (min-width:2400px) {
            font-size: 2.75rem;
        }
    }
    &__image {
        margin-right:40px;
        width: 12rem;
        height: 12rem;
        object-fit: cover;
        position: absolute;
        top:30%;
        left:20%;
        transform: translate(-50%,-50%);
        @media (max-width:1300px) {
            width: 35%;
            height: 80%;
        }
        @media (max-width:1000px) {
            width:40% ;
            height: 70%;
            left:22.5%;
        }
        @media (max-width:800px) {
            height:70% ;
            width: 33%;
            left: 16.5%;
            
        }
        @media (max-width:600px) {
            height:70% ;
            width: 33%;
            left: 16.5%;
            
        }
        @media (min-width:1300px) {
            left:18%;
            width: 30%;
            height: 70%;
        }
        @media (min-width:1750px) {
            left:16%;
            width: 30%;
            height: 85%;
        }
        @media (min-width:2000px) {
            left:16%;
            width: 30%;
            height: 85%;
        }
        @media (min-width:2400px) {
        left:17.5%;
        width: 30%;
        height: 70%;
        }
    }
    &__text {
        margin-left: 13rem;
    }
    &__button {
        font-family: 'Spartan', sans-serif;
        font-weight: 700;
        width:3rem;
        height: 3rem;
        background-color: lightgrey;
        color:black;
        font-size: 2rem;
        border-radius: 10px;
        box-shadow: .1rem .1rem .15rem black;
        border: none;
        cursor: pointer;
        @media (max-width:1300px) {
            font-size: 2.5rem;
            width:4rem;
            height: 4rem;
        }
        @media (max-width:1000px) {
            font-size: 2.75rem;
            width:5rem;
            height: 5rem;        }
        @media (min-width:1300px) {
            width:3rem;
            height: 3rem;
            font-size: 2rem;            }
        @media (min-width:1750px) {
            width:3.25rem;
            height: 3.25rem;
            font-size: 2.5rem;            }
        @media (min-width:2000px) {
            width:3.5rem;
            height: 3.5rem;
            font-size: 2.5rem;            }
        @media (min-width:2400px) {
            width:3.75rem;
            height: 3.75rem;
            font-size: 2.75rem;        }
        &:not(:last-child){
            margin-right: 1rem;
            @media (min-width:2400px) {
                margin-right: 1.5rem;
            }
    }
    transition:  all .5s;
    &:hover , :active , :link , :focus{
        transform: scale(1.02) translateY(1.5px)
    }

}
hr {
    background-color: rgba(#d7bcb2, .9);
    color:rgba(#d7bcb2, .9);
} 
}
