.footer{
height: 15vh;
width: 100%;
background-color: rgba(#d7bcb2, .9);
display: flex;
align-items: center;
justify-content: space-around;
border-radius: 5rem;
&__item{
    color:white;
    font-size: 1.5rem;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: all 1.2s;
 &:hover{
    transform: skewX(-5deg) scale(1.1);
    background-image: linear-gradient(to left ,  rgb(58, 15, 15),rgb(185, 59, 80));
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    font-weight: 1000;
    font-size: 1.8rem;
}   
}
}