.footer{
height: 13vh;
width: 90%;
background-color: rgba(#d7bcb2, .9);
display: flex;
align-items: center;
justify-content: space-around;
border-radius: 5rem;
margin:0 auto;
&__item{
    color:white;
    font-size: 1.5rem;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: all .8s;
    align-self:center;
    
 &:hover{
    transform: skewX(-5deg) scale(1.1);
    background-image: linear-gradient(to left ,  rgb(58, 15, 15),rgb(185, 59, 80));
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
    font-weight: 1000;
    font-size: 1.8rem;
}   
&:hover{
    .icon{
        transform:  rotate(45deg) scale(1.4);
        perspective:2000px;
    }
}
}
}
.icon{
    width: 3rem;
    height: 2rem;
    position: relative;
    margin:0 2rem;    
    transition: all .8s;
    
}
