.header{
    height: 85vh;
    width: 100%;
    position: relative;
    @media (max-width:1000px) {
        height: 80vh;
        // margin-top: 12rem;
        width: 100%;
        margin-left: 4rem;
    }
        @media (max-width:800px) {
        height: 70vh;
        }
       
        @media (min-width:1000px) {
        // margin-top:9rem;

        }
        @media (min-width:1300px) {
        // margin-top:8rem;
        }


    &__img{
        position:absolute; 
        top:8%;        
        height: 80%;
        width: 100%;
        background-image: url('../../../public/images/header-photo.jpg');
        background-position:center ;
        background-size:95% 125%;
        background-repeat: no-repeat;
        border-radius: .6rem;
        opacity: .85;
        transition: all 2s;
        border-radius: 60px;
        @media (max-width:1000px) {
        height: 75%;
        }
        @media (max-width:800px) {
        height: 70%;
        }
        @media (max-width:600px) {
        height: 70%;
        margin-left:4rem;
        }
        @media (max-width:500px) {
        height: 65%;
        margin-left:3.5rem;
        }
        @media (max-width:400px) {
        height: 60%;
        margin-left:2.5rem;
        }
        &:hover , :link , :active , :focus{
            opacity: 1;
            transform: scale(102%,105%);
        }
        
    }
    &__title{
        text-transform: uppercase;
        font-size: 5.5rem;
        letter-spacing: 1rem;
        position: absolute;
        top:25%;
        left:35%;
        text-align: center;
        display: inline-block;
        color: black;
        font-family: 'Estonia', cursive;
        animation: moveFromTop 2s;
        @media (max-width:1300px) {
        font-size: 5rem;            }
        @media (max-width:1000px) {
        font-size: 4.5rem;            }
        @media (max-width:800px) {
        font-size: 4rem;  
    // width: 50%;          
}
        @media (max-width:500px) {
        font-size: 3.6rem;  
    // width: 50%;         
 }
        @media (min-width:1300px) {
            font-size: 5rem;
            letter-spacing: 1.25rem;
        }
        @media (min-width:1750px) {
            font-size: 6rem;
            letter-spacing: 1.25rem;
        }
        @media (min-width:2000px) {
            font-size: 6.5rem;
            letter-spacing: 1.25rem;
        }
        @media (min-width:2400px) {
            font-size: 7rem;
            letter-spacing: 1.25rem;
        }
        @media (min-width:2750px) {
            font-size: 8.5rem;
            letter-spacing: 3rem;
        }
    }
  
}

@keyframes moveFromTop{
    0%{opacity: 0;
    
        top:-25%
}
40%{opacity: .4;
top:0}
   
    80%{opacity: .5;
    top:30%}
    100%{opacity: 1;
top:25%;}
    }